

#toolTip{
    border: 2px solid rgb(27, 26, 26);
    padding:5px;
    margin: 0;
    border-radius: 10px;
    
    height: inherit;
    width:inherit;
    max-width: 300px;
    
    background-color: var(--cardBrown);
    color:rgb(233, 227, 227);
    font-size: 1.2em;
    letter-spacing: 1px;

    position: absolute;
    top: 200px;
    left: 300px;

    display: block;

    z-index: 100;
    
    animation-name: toolTip;
    opacity: 1;
    animation-timing-function: linear;
    animation-duration: 0.1s;
}

@keyframes toolTip {
    from {opacity: 0;}
    to {opacity: 1;}

    
  }